<div class="jumbotron d-flex justify-content-center">
<h1>Burgers!</h1>
</div>
<div class="container">
<div class="row">
  <div class="col-6">
<h2>Burgers I devoured!</h2>

<ul>
  {{#each burgers}}
  {{#if devoured}}
  {{> burger}}
  {{/if}}
  {{/each}}
</ul>
</div>
<div class="col-6">
<h2>Burgers to be devoured!</h2>

<ul>
  {{#each burgers}}
  {{#unless devoured}}
  {{> burger}}
  <button id={{id}} type="button" class="btn btn-outline-primary">Devour me!</button>
  {{/unless}}
  {{/each}}
</ul>
</div>
</div>
<div class="row">
<div class="col d-flex justify-content-center">
<form action="/api/burgers" method="post">
<h2>Add A BURGER</h2>
  <div class="form-group">
    <label for="new_burger">Burger Name:</label>
    <input type="text" id="new_burger" name="new_burger">
  </div>
  <button type="submit">Add Burger</button>
</form>
</div>
</div>
</div>